body {
    background-image: url("https://klike.net/uploads/posts/2019-06/1561182942_2.jpg");
      
}	
.myButton {
    box-shadow:inset 0px 1px 0px 0px #ff0000;
    background-color:#ff0000;
    border-radius:3px;
    border:1px solid #ff0000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ff0000;
}
.myButton:hover {
    background-color:#ff0000;
}
.myButton:active {
    position:relative;
    top:1px;
}
.wrapper{
    width: 1280px;
    height: 720px;
    margin: 10px auto;
}
.left_right{
    position: absolute;
    display: none;
    cursor: pointer;
    margin: -388px 0 0 10px;
}
img#images {
    border: double black 6px;
}
#left, #right {
    width: 70px;
    height: 70px;
    background: rgba(0,0,0, 0.7);
    border-radius: 50%;
}
@media screen and (min-width: 720px)
      {
        #main-aside-wrapper
        {
          flex-direction: row;
        }
      }
